<html>
<head th:replace="~{base :: head}"></head>
<style th:replace="~{base :: style-base}"></style>
<body>
	<div th:replace="~{base :: logo}"></div>

	<div class="container">
		<div class="Jumbotron mb-0">
			<h1>Meus Pedidos</h1>		
		</div>
		<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
			<div class="Navbar-nav">
				<a class="nav-link active" aria-current="page" href="#">Todos</a>
				<a class="nav-link active" aria-current="page" href="#">Aguardando</a>
				<a class="nav-link active" aria-current="page" href="#">Aprovados</a>
				<a class="nav-link active" aria-current="page" href="#">Entregue</a>
			</div>
			<a href="/pedido/formulario"><button class="btn btn-outline-success">Novo</button></a>
		</nav>
		<div class="card mb-3" th:each="pedido : ${pedidos}">
		<th:block th:switch = "${#strings.toString(pedido.status)}">
			
				<div th:case="'AGUARDANDO'"  class="card-header alert alert-warning" th:text="${pedido.nomeProduto}">Nomedo Produto</div>
				<div th:case="'APROVADO'"    class="card-header alert  alert-success" th:text="${pedido.nomeProduto}">Nomedo Produto</div>
				<div th:case="'ENTREGUE'"    class="card-headeralert alert alert-dark" th:text="${pedido.nomeProduto}">Nomedo Produto</div>
		    </th:block>
				
			<div class="card-body">
				<div class="row">
					<div class="col-12 col-sm-8 mb-3 ">
						<div class="row">
							<div class="col-md-6">
								Valor: <span th:text="${pedido.valornegociavel}">200,99</span>
							</div>
							<div class="col-md-6">
								Data da entrega: <span th:text="${pedido.dataDaEntrega}">10/02/2020</span>
							</div>
						</div>

						<div>Produto</div>
						<div>
							<input class="form-control" th:value="${pedido.urlProdudto}"
								value="URL do Produto" />
						</div>
						<div>Descrição</div>
						<div>
							<textarea class="form-control" th:text="${pedido.descricao}"
								rows="" cols="">Descrição do Produto</textarea>
						</div>
					</div>
					<div class="col-12 col-sm-8">
						<div>
							<img class="img-thumbnail"
								th:src="${pedido. urlImagem}" alt="" src="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>